<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!-- build:css css/main.css -->
    <link rel="stylesheet" href="files/main.css">

    <link rel="stylesheet" type="text/css" href="https://www.fontstatic.com/f=rabar,dubai" />


	<link rel="icon" type="image/png" href="icon/favicon-32x32.png" sizes="32x32">
     <!-- endbuild -->
	
	<meta name="description" content="موقع لبيع المنتجات">
	<meta name="author" content="Heba">
	<title>أفضل العروض و المنتجات</title>
    <style>
        body{
          font-family: 'rabar';
      font-family: 'dubai';  }
      
      </style>
	
	<!-- Meta Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '543386620681090');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=543386620681090&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
</head>

<body>
	<div id="app">
		<section class="section" >
			
			<header class="header" id="header">
				<div class="header__main">
					<div class="d-h fx-1">
                        <a href="#" class="header__logo d-f jc-c">
                            <img src="files/img/logo.png" class="header-img"></img>
                        </a>
                    </div>
				 
				</div>
			  
		</section>
        <div class="container">	
            <div class="blhd">
                <div class="blhd">
            <div class="blhd__title" v-for="(item, index) in items" v-if="item.id1 === 1" :key="item.id">
                <span>{{item.title1}}</span>
            </div>
            <div class="blhd__subt" v-for="(item, index) in items" v-if="item.id1 === 1" :key="item.id">{{item.title2}}</div>
                            </div>
            <section class="section">
            <div class="row">
                <div class="col-122">  
                    <div class="section__sort">
    
            <div class="blcd__grid">
             <ul class="grid d-f fxw-w five">
             <div class="d-f fxd-c col-123 col-sm-66 col-lg-44">
               <button :class="{ active: currentFilter === 'all' }" @click="setFilter('all')" type="button">							
                 <div class="card">
        <a class="card__main link style-2 d-f ai-c">
       <div class="card__fgtb"><div class="card__figure fgwl thmb">
        <div class="fgwl__fgld"  ></div>
       <img  class="lazy entered loaded" data-src="files/img/categorys/1.png?resize=48,48" data-srcset="files/img/categorys/1.png?resize=48,48 48w,files/img/categorys/1.png?resize=96,96 96w,files/img/categorys/1.png?resize=144,144 144w" data-sizes="48px" alt="" src="files/img/categorys/1.png?resize=48,48" data-ll-status="loaded" sizes="48px" srcset="files/img/categorys/1.png?resize=48,48 48w,files/img/categorys/1.png?resize=96,96 96w,files/img/categorys/1.png?resize=144,144 144w">
 </div></div> <div class="card__meta thmb d-f fx-1" >
                    <div v-for="(item, index) in items"  :key="item.id">
                    <div class="card__title">{{item.category1_title}}</div>
                </div></div> </a> </div>  </button> </div>
    <div class="d-f fxd-c col-123 col-sm-66 col-lg-44">
    <button :class="{ active: currentFilter === 'cat2' }" @click="setFilter('cat2')" type="button">               
            <div class="card">
            <a  class="card__main link style-2 d-f ai-c">
                <div class="card__fgtb">
                    <div class="card__figure fgwl thmb">
                        <div class="fgwl__fgld"></div>
            <img class="lazy entered loaded" data-src="files/img/categorys/2.png?resize=48,48" data-srcset="files/img/categorys/2.png?resize=48,48 48w,files/img/categorys/2.png?resize=96,96 96w,files/img/categorys/2.png?resize=144,144 144w" data-sizes="48px" alt="" src="files/img/categorys/2.png?resize=48,48" data-ll-status="loaded" sizes="48px" srcset="files/img/categorys/2.png?resize=48,48 48w,files/img/categorys/2.png?resize=96,96 96w,files/img/categorys/2.png?resize=144,144 144w">				
     </div> </div><div class="card__meta thmb d-f fx-1" >
                    <div v-for="(item, index) in items"  :key="item.id">
                    <div class="card__title ">{{item.category2_title}}</div>
                </div> </div></a> </div> </button> </div>
    <div class="d-f fxd-c col-123 col-sm-66 col-lg-44">
         <button :class="{ active: currentFilter === 'cat3' }" @click="setFilter('cat3')" type="button">    
            <div class="card">
            <a  class="card__main link style-2 d-f ai-c">
                <div class="card__fgtb">
                    <div class="card__figure fgwl thmb">
                        <div class="fgwl__fgld"></div>
            <img class="lazy entered loaded" data-src="files/img/categorys/3.png?resize=48,48" data-srcset="files/img/categorys/3.png?resize=48,48 48w,files/img/categorys/3.png?resize=96,96 96w,files/img/categorys/3.png?resize=144,144 144w" data-sizes="48px" alt="" src="files/img/categorys/3.png?resize=48,48" data-ll-status="loaded" sizes="48px" srcset="files/img/categorys/3.png?resize=48,48 48w,files/img/categorys/3.png?resize=96,96 96w,files/img/categorys/3.png?resize=144,144 144w">
             </div>  </div>
                <div class="card__meta thmb d-f fx-1" >
                    <div v-for="(item, index) in items"  :key="item.id">
                    <div class="card__title">{{item.category3_title}}</div>
                </div></div>
            </a>
            </div>  </button>   </div>  <div class="d-f fxd-c col-123 col-sm-66 col-lg-44">
              <button :class="{ active: currentFilter === 'cat4' }" @click="setFilter('cat4')" type="button">
                        
            <div class="card">
            <a  class="card__main link style-2 d-f ai-c">
                <div class="card__fgtb">
                    <div class="card__figure fgwl thmb">
                        <div class="fgwl__fgld"></div>         
            <img class="lazy entered loaded" data-src="files/img/categorys/4.png?resize=48,48" data-srcset="files/img/categorys/4.png?resize=48,48 48w,files/img/categorys/4.png?resize=96,96 96w,files/img/categorys/4.png?resize=144,144 144w" data-sizes="48px" alt="" src="files/img/categorys/4.png?resize=48,48" data-ll-status="loaded" sizes="48px" srcset="files/img/categorys/4.png?resize=48,48 48w,files/img/categorys/4.png?resize=96,96 96w,files/img/categorys/4.png?resize=144,144 144w">
                        </div> </div>
            
                <div class="card__meta thmb d-f fx-1" >
                    <div v-for="(item, index) in items"  :key="item.id">
                    <div class="card__title">{{item.category4_title}}</div>
                </div></div>  </a>  </div> </button> </div>

                <div class="d-f fxd-c col-123 col-sm-66 col-lg-44">
                 <button :class="{ active: currentFilter === 'cat5' }" @click="setFilter('cat5')" type="button" class="d-f fxd-c">
                                
            <div class="card">
            <a  class="card__main link style-2 d-f ai-c">
                <div class="card__fgtb">
                    <div class="card__figure fgwl thmb">
                        <div class="fgwl__fgld"></div>
            
                        
            <img class="lazy entered loaded" data-src="files/img/categorys/5.png?resize=48,48" data-srcset="files/img/categorys/5.png?resize=48,48 48w,files/img/categorys/5.png?resize=96,96 96w,files/img/categorys/5.png?resize=144,144 144w" data-sizes="48px" alt="" src="files/img/categorys/5.png?resize=48,48" data-ll-status="loaded" sizes="48px" srcset="files/img/categorys/5.png?resize=48,48 48w,files/img/categorys/5.png?resize=96,96 96w,files/img/categorys/5.png?resize=144,144 144w">
               </div>  </div>
                <div class="card__meta thmb d-f fx-1" >
                    <div v-for="(item, index) in items"  :key="item.id">
                    <div class="card__title">{{item.category5_title}}</div>
                </div></div></a> </div> </button> </div> </ul>  </div> </div> </div>
            </div>
        </div>

    </section>
    
        <section class="section" id="catalog">
        <transition-group name="fadex" class="row row--grid" tag="div">
            
            <div  class="col-12 col-sm-6 col-lg-4" v-for="(item, index) in items" v-if="currentFilter === item.category || currentFilter === 'all'" :key="item.id">
                <a v-bind:href="item.link" >
                <div class="product">
                    <div class="product__img" >
                        <img  :src="item.image" class="zoom" alt="">
                    </div>
                    <h3 class="product__title">{{ item.title }}</h3>
                    <div class="card__rtng">
                        <ul class="d-f ai-c jc-c">
        <li>
            <img class="rtng imbg" src="files/icon/star.svg" alt="">		</li>
        <li>
            <img class="rtng imbg" src="files/icon/star.svg" alt="">		</li>
        <li>
            <img class="rtng imbg" src="files/icon/star.svg" alt="">		</li>
        <li>
            <img class="rtng imbg" src="files/icon/star.svg" alt="">		</li>
        <li>
            <img class="rtng imbg" src="files/icon/star.svg" alt="">		</li>
    </ul></div>
     <div class="product__allprice">
       <span class="product__price">{{ item.price  }}د.ج</span>
        <strong class="product__price1">{{ item.price1  }} د.ج</strong> </div></div> </a></div>
        </transition-group> </div></section>
       
		<footer class="footer"><div class="footer__wrap add-to-cart" ><div class="wrap"><div class="footer__clwr"><div class="footer__colm grid d-f fxw-w"><div><div><ul class="footer__mnls"></ul></div> <div><ul class="footer__mnls"></ul></div></div> <div><div><ul class="footer__mnls"></ul></div> 
        </div> <div class="full-width"><div class="d-f fxd-c ai-c"><div class="footer__logo"><a href="#" class="header__logo d-f"><img src="files/img/logo.png" alt="" class="logo"></a></div><a  href="#" class="header__logo d-f"><div class="footer__copy"  >
			   © 2022                    </div></a></div><a href="#" class="header__logo d-f"></a></div><a href="#" class="header__logo d-f"></a></div><a href="#" class="header__logo d-f"></a></div><a href="#" class="header__logo d-f"></a></div><a href="#" class="header__logo d-f"></a></div><a href="#" class="header__logo d-f"></a></footer>
	</div>
        <!-- build:js js/main.js -->
	<script src="files/js/vue.js"></script>
	<script src="files/js/vue-scrollto.js"></script>
	<script src="files/js/vue-toast-notification.js"></script>
	<script src="products.js"></script>
	<script src="files/js/main.js"></script>
     <!-- endbuild -->
	
</body>
</html>

